NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
MONGO_URI=mongodb://127.0.0.1:27017/careerai
JWT_ACCESS_SECRET=replace-with-a-long-random-secret
JWT_REFRESH_SECRET=replace-with-a-different-long-random-secret
SESSION_SECRET=replace-with-a-long-random-session-secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=Ov23lizi8RJyi18SGOUi
GITHUB_CLIENT_SECRET=fcaeed3dee5cf58dbe5a7666c74fb15627add467
OPENROUTER_API_KEY=
OPENROUTER_COACH_MODEL=
OPENROUTER_INTERVIEW_MODEL=
OPENROUTER_EMBEDDING_MODEL=
OPENROUTER_SITE_URL=http://localhost:5173
OPENROUTER_APP_NAME=CareerAI
CLOUDINARY_CLOUD_NAME=dsedazmfe
CLOUDINARY_API_KEY=417853595364771
CLOUDINARY_API_SECRET=UWOLd1ESCBseLmxJfPxWN0rEzSg
CLOUDINARY_RESUME_FOLDER=careerai/resumes
AVATAR_PROVIDER=local
# AVATAR_API_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@your-domain.com


PINGNEST_API_KEY=your_new_key
PINGNEST_SERVICE=my-service
